ClientWSjaafar/src/main/java/proxy/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="convert">
<part name="parameters" element="tns:convert"/>
</message>
<message name="convertResponse">
<part name="parameters" element="tns:convertResponse"/>
</message>
<message name="Getallcompte">
<part name="parameters" element="tns:Getallcompte"/>
</message>
<message name="GetallcompteResponse">
<part name="parameters" element="tns:GetallcompteResponse"/>
</message>
<message name="Getcompte">
<part name="parameters" element="tns:Getcompte"/>
</message>
<message name="GetcompteResponse">
<part name="parameters" element="tns:GetcompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="convert">
<input wsam:Action="http://ws/BanqueService/convertRequest" message="tns:convert"/>
<output wsam:Action="http://ws/BanqueService/convertResponse" message="tns:convertResponse"/>
</operation>
<operation name="Getallcompte">
<input wsam:Action="http://ws/BanqueService/GetallcompteRequest" message="tns:Getallcompte"/>
<output wsam:Action="http://ws/BanqueService/GetallcompteResponse" message="tns:GetallcompteResponse"/>
</operation>
<operation name="Getcompte">
<input wsam:Action="http://ws/BanqueService/GetcompteRequest" message="tns:Getcompte"/>
<output wsam:Action="http://ws/BanqueService/GetcompteResponse" message="tns:GetcompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Getallcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Getcompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>